body {
    background-color: #f8f9fa;
}

.btn-light {
    border: 2px solid #ffffff; /* White border */
    padding: 0.5rem 1rem;      /* Adjust padding */
    border-radius: 5px;        /* Rounded corners */
    transition: all 0.3s ease;
}

.btn-light:hover {
    background-color: #ffffff;
    color: #0d6efd; /* Primary color on hover */
}
